<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
		<key>armv7</key>
		<true/>
	</dict>
	<key>appleId</key>
	<string>me@deanlyoung.com</string>
	<key>appleWatchEnabled</key>
	<true/>
	<key>artistId</key>
	<integer>642218247</integer>
	<key>artistName</key>
	<string>DeskConnect, Inc.</string>
	<key>bundleDisplayName</key>
	<string>Workflow</string>
	<key>bundleShortVersionString</key>
	<string>1.7.3</string>
	<key>bundleVersion</key>
	<string>460</string>
	<key>com.apple.iTunesStore.downloadInfo</key>
	<dict>
		<key>accountInfo</key>
		<dict>
			<key>AccountStoreFront</key>
			<string>143441-1,32</string>
			<key>AppleID</key>
			<string>me@deanlyoung.com</string>
			<key>DSPersonID</key>
			<integer>187763466</integer>
			<key>DownloaderID</key>
			<integer>0</integer>
			<key>FamilyID</key>
			<integer>0</integer>
			<key>PurchaserID</key>
			<integer>187763466</integer>
		</dict>
		<key>purchaseDate</key>
		<string>2015-01-05T23:21:47Z</string>
	</dict>
	<key>copyright</key>
	<string>© 2017 DeskConnect, Inc.</string>
	<key>drmVersionNumber</key>
	<integer>0</integer>
	<key>fileExtension</key>
	<string>.app</string>
	<key>gameCenterEnabled</key>
	<false/>
	<key>gameCenterEverEnabled</key>
	<false/>
	<key>genre</key>
	<string>Productivity</string>
	<key>genreId</key>
	<integer>6007</integer>
	<key>itemId</key>
	<integer>915249334</integer>
	<key>itemName</key>
	<string>Workflow: Powerful Automation Made Simple</string>
	<key>kind</key>
	<string>software</string>
	<key>playlistName</key>
	<string>DeskConnect, Inc.</string>
	<key>product-type</key>
	<string>ios-app</string>
	<key>purchaseDate</key>
	<date>2015-01-05T23:21:47Z</date>
	<key>rating</key>
	<dict>
		<key>content</key>
		<string>Advisory.NO.GAMBLING_CONTESTS and Advisory.NO.UNRESTRICTED_WEB_ACCESS</string>
		<key>label</key>
		<string>4+</string>
		<key>rank</key>
		<integer>100</integer>
		<key>system</key>
		<string>itunes-games</string>
	</dict>
	<key>releaseDate</key>
	<string>2014-12-11T08:00:00Z</string>
	<key>s</key>
	<integer>143441</integer>
	<key>softwareIcon57x57URL</key>
	<string>http://a1618.phobos.apple.com/us/r30/Purple111/v4/19/ce/ee/19ceeeb1-fb84-2e82-2474-421fdeb936fc/icon114x114.jpeg</string>
	<key>softwareIconNeedsShine</key>
	<false/>
	<key>softwareSupportedDeviceIds</key>
	<array>
		<integer>9</integer>
		<integer>2</integer>
		<integer>4</integer>
	</array>
	<key>softwareVersionBundleId</key>
	<string>is.workflow.my.app</string>
	<key>softwareVersionExternalIdentifier</key>
	<integer>821441477</integer>
	<key>softwareVersionExternalIdentifiers</key>
	<array>
		<integer>698722687</integer>
		<integer>810972770</integer>
		<integer>811412277</integer>
		<integer>811801451</integer>
		<integer>811926195</integer>
		<integer>812049182</integer>
		<integer>812233974</integer>
		<integer>812444618</integer>
		<integer>812596025</integer>
		<integer>812934236</integer>
		<integer>813224189</integer>
		<integer>813333894</integer>
		<integer>813485439</integer>
		<integer>813492867</integer>
		<integer>813496387</integer>
		<integer>813530865</integer>
		<integer>813555268</integer>
		<integer>813665235</integer>
		<integer>814672045</integer>
		<integer>814673326</integer>
		<integer>815268371</integer>
		<integer>815270196</integer>
		<integer>815432561</integer>
		<integer>816576656</integer>
		<integer>816721750</integer>
		<integer>816846013</integer>
		<integer>817581220</integer>
		<integer>818472387</integer>
		<integer>819334799</integer>
		<integer>819762894</integer>
		<integer>820052392</integer>
		<integer>820868307</integer>
		<integer>820914959</integer>
		<integer>821378894</integer>
		<integer>821441477</integer>
	</array>
	<key>storeCohort</key>
	<string>3|date=1420498800000&amp;sf=143441</string>
	<key>vendorId</key>
	<integer>1675505</integer>
	<key>versionRestrictions</key>
	<integer>16843008</integer>
</dict>
</plist>
