<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SinfPaths</key>
	<array>
		<string>SC_Info/Workflow.sinf</string>
	</array>
	<key>SinfReplicationPaths</key>
	<array>
		<string>Frameworks/ActionKit.framework/SC_Info/ActionKit.sinf</string>
		<string>Frameworks/Aviary.framework/SC_Info/Aviary.sinf</string>
		<string>Frameworks/ComponentKit.framework/SC_Info/ComponentKit.sinf</string>
		<string>Frameworks/ContentKit.framework/SC_Info/ContentKit.sinf</string>
		<string>Frameworks/Interchange.framework/SC_Info/Interchange.sinf</string>
		<string>Frameworks/LAME.framework/SC_Info/LAME.sinf</string>
		<string>Frameworks/MailCore.framework/SC_Info/MailCore.sinf</string>
		<string>Frameworks/Mantle.framework/SC_Info/Mantle.sinf</string>
		<string>Frameworks/Realm.framework/SC_Info/Realm.sinf</string>
		<string>Frameworks/WFLogging.framework/SC_Info/WFLogging.sinf</string>
		<string>Frameworks/WorkflowKit.framework/SC_Info/WorkflowKit.sinf</string>
		<string>Frameworks/WorkflowUI.framework/SC_Info/WorkflowUI.sinf</string>
		<string>Frameworks/pop.framework/SC_Info/pop.sinf</string>
		<string>PlugIns/RunWorkflow.appex/SC_Info/RunWorkflow.sinf</string>
		<string>PlugIns/WorkflowWidget.appex/SC_Info/WorkflowWidget.sinf</string>
		<string>Watch/Workflow Watch App 2.app/PlugIns/Workflow Watch App 2 Extension.appex/Frameworks/ActionKit.framework/SC_Info/ActionKit.sinf</string>
		<string>Watch/Workflow Watch App 2.app/PlugIns/Workflow Watch App 2 Extension.appex/Frameworks/ContentKit.framework/SC_Info/ContentKit.sinf</string>
		<string>Watch/Workflow Watch App 2.app/PlugIns/Workflow Watch App 2 Extension.appex/Frameworks/Interchange.framework/SC_Info/Interchange.sinf</string>
		<string>Watch/Workflow Watch App 2.app/PlugIns/Workflow Watch App 2 Extension.appex/Frameworks/Mantle.framework/SC_Info/Mantle.sinf</string>
		<string>Watch/Workflow Watch App 2.app/PlugIns/Workflow Watch App 2 Extension.appex/Frameworks/Realm.framework/SC_Info/Realm.sinf</string>
		<string>Watch/Workflow Watch App 2.app/PlugIns/Workflow Watch App 2 Extension.appex/Frameworks/WFLogging.framework/SC_Info/WFLogging.sinf</string>
		<string>Watch/Workflow Watch App 2.app/PlugIns/Workflow Watch App 2 Extension.appex/Frameworks/WorkflowKit.framework/SC_Info/WorkflowKit.sinf</string>
		<string>Watch/Workflow Watch App 2.app/PlugIns/Workflow Watch App 2 Extension.appex/SC_Info/Workflow Watch App 2 Extension.sinf</string>
		<string>SC_Info/Workflow.sinf</string>
	</array>
</dict>
</plist>
